body {
  font-family: monospace;
}

h1 {
  margin-bottom: -5px;
}

#texto-tarefa {
  width: 240px;
  font-family: monospace;
}

#criar-tarefa {
  font-family: monospace;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}
