*{
    margin: 0;
}
#funcionamento{
    margin: 0 10px;
}
#texto-tarefa{

}
.conteiner{
    display: flex;
}
.box{
    margin: 35px;
}
.bhutanNav{
    background-color: rgb(122, 212, 240);
    border: 2px;
    margin: 30px;
    padding: 10px;
}
#lista-tarefas{

}